h1, h2{
    font-family: 'Cinzel Decorative';
    color:#ffc400
}

img{
    height: 600px;
}

h3{
    font-family: 'Cinzel Decorative'
}

h4{
    color:#4b8787
}

p{
    color: #a6d0d0;
    font-family: 'Lora';
}